
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f5d04e;
}

form{
    text-align: center;
}
input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  #dati_biglietto{
    display: flex;
    margin-top:30px;
    justify-content: center;
    margin-bottom: 30px;
  }
  #biglietto{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #carrozza{
    text-align: center;
    margin: 0 10px;

  }
 #costo_biglietto{
    margin: 0  10px ;
 }
 .card{
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 8px 8px #000000;
 }
 #biglietto_container{
  text-align: center;
 }
 h4{
  margin-top: 20px;
 }
 #dati_passeggero{
  width:300px;
  
 }
 .textbox{
  background-color: #f3d24b;
  border-radius: 12px;
  border: 1px solid black;
  height: 50px;
 }
 .text_box_size{
  width: 150px;
 }
 .invisible{
  display: none;
 }
